@import "varaibles";

body {
  font-family: "Barlow", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: $maxMobile) {
    min-width: 300px;
  }
  @media (min-width: $minSmall) {
    width: 720px;
  }
  @media (min-width: $minMedium) {
    width: 960px;
  }
  @media (min-width: $minLarge) {
    width: 1140px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: {
    top: 20px;
    bottom: 20px;
  }
  @media (max-width: $maxMobile) {
    flex-direction: column;
  }
  ul {
    display: flex;
    gap: 20px;
    li {
      position: relative;
      padding: {
        top: 20px;
        bottom: 20px;
      }
      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        background-color: $navy-color;
        bottom: 0;
        transition: $main-transition;
      }
      &:hover::before {
        width: 100%;
      }
      a {
        transition: $main-transition;
        color: $grey-color;
        font : {
          weight: 500;
          size: 0.75rem;
        }
      }
      &:hover a {
        color: $navy-color;
      }
    }
  }
}
section.introducing {
  position: relative;
  overflow: hidden;
  background: {
    image: url(https://coffeeroasters-subscription-site-zeta.vercel.app/assets/home/tablet/image-hero-coffeepress.jpg);
    size: cover;
  }
  @media (max-width: $maxMobile) {
    background-position: center;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #00000085;
      z-index: 0;
    }
  }
  min-height: calc(70vh - 100px);
  margin-bottom: 14rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  .info {
    padding: 0 50% 0 2rem;
    @media (max-width: $maxMobile) {
      position: relative;
      padding: 6.25rem 30px;
      text-align: center;
    }
  }
  h2 {
    color: white;
    font: {
      size: 3rem;
      family: "Fraunces", serif;
    }
    max-width: 26rem;
    @media (max-width: $maxMobile) {
      font-size: 2.5rem;
      max-width: 100%;
    }
  }
  p {
    margin: 30px 0;
    color: #d2d2cf;
    font-size: 15px;
  }
}
button.main-btn {
  padding: 1rem 2rem;
  color: white;
  font: {
    size: 1.125rem;
    weight: bold;
    family: "Fraunces", serif;
  }
  a {
    color: white;
  }
  border: none;
  border-radius: 8px;
  cursor: pointer;
  &:not(.disabled) {
    background-color: $green-color;
    transition: $main-transition;
    -webkit-transition: $main-transition;
    -moz-transition: $main-transition;
    -ms-transition: $main-transition;
    -o-transition: $main-transition;
    &:hover {
      opacity: 0.7;
    }
  }
  &.disabled {
    background-color: $grey-color;
    pointer-events: none;
    opacity: 0.5;
  }
}
section.collection {
  margin-bottom: 5rem;
  h1.section-title {
    @media (min-width: $minLarge) {
      font-size: 9rem;
    }
    @media (min-width: $minSmall) {
      font-size: 5rem;
      line-height: 4.5rem;
    }
    font-size: 2.5rem;
    margin-bottom: 0;
    text-align: center;
    color: $grey-color;
    font-weight: 900;
    position: relative;
    z-index: -1;
    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(rgba(254, 252, 247, 0.0001) 0%, #fefcf7 100%);
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      @media (min-width: $minSmall) {
        bottom: -24px;
      }
    }
  }
  .collections {
    @media (min-width: $minLarge) {
      flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: -1rem;
    @media (min-width: $minLarge) {
      align-items: left;
      text-align: center;
    }
  }
  .collections-item {
    @media (max-width: $maxMobile) {
      text-align: center;
    }
    @media (min-width: $minSmall) {
      max-width: 600px;
      display: flex;
    }
    @media (min-width: $minLarge) {
      max-width: 100%;
      display: block;
    }
    width: 100%;
    padding: 0 20px;
    color: $navy-color;
  }

  img.product-img {
    max-width: 100%;
    width: 200px;
    @media (min-width: $minLarge) {
      width: auto;
    }
  }
  h3.product-title {
    margin: {
      top: 30px;
      bottom: 15px;
    }
    font-size: 1.5rem;
  }
  p.product-description {
    line-height: 2rem;
  }
}
section.potentials {
  margin-bottom: 5rem;
  .intro {
    padding: 2rem;
    background-color: $navy-color;
    text-align: center;
    border-radius: 8px;
    padding-bottom: 35rem;
    @media (min-width: $minMedium) {
      padding-bottom: 17rem;
    }
  }
  h1 {
    color: white;
  }
  p {
    color: white;
    line-height: 1.5rem;
    @media (min-width: $minMedium) {
      width: 70%;
      margin: auto;
    }
  }

  .potential-divs {
    display: flex;
    gap: 40px;
    margin-top: -33rem;
    flex-direction: column;
    @media (min-width: $minMedium) {
      margin-top: -14rem;
      flex-direction: row;
      padding: 0 90px;
    }
    @media (min-width: $minSmall) {
      padding: 0 2rem;
    }
    @media (max-width: $maxMobile) {
      padding: 0 1.5rem;
    }
    .potential {
      background-color: $green-color;
      padding: 50px 0;
      border-radius: 8px;
      text-align: center;
      width: 100%;
      .img {
        height: 72px;
      }
      h2 {
        margin-top: 50px;
        margin-bottom: 20px;
        color: white;
      }
      p {
        color: white;
        line-height: 1.5rem;
        width: 70%;
        margin: auto;
      }
    }
  }
}
section.how-it-works {
  margin-bottom: 5rem;
  > h2 {
    color: $grey-color;
  }
  .points-and-lines {
    width: 75%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: {
      top: 50px;
      bottom: 25px;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #fdd6ba;
      z-index: 0;
    }
    &::before {
      top: 50%;
    }
    &::after {
      top: 44%;
    }
    span {
      width: 30px;
      height: 30px;
      border: 2px solid $green-color;
      border-radius: 50%;
      background-color: white;
      position: relative;
      z-index: 1;
    }
    @media (max-width: $maxMobile) {
      display: none;
    }
  }
  .skills {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
    color: $navy-color;
    h1.number {
      color: $pink-color;
      font-size: 5rem;
      font-weight: 900;
      margin: 25px 0;
    }
    h3.title {
      font-size: 1.7rem;
      margin-bottom: 20px;
    }
    @media (max-width: $maxMobile) {
      flex-direction: column;
    }
  }
  @media (max-width: $maxMobile) {
    text-align: center;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: $navy-color;
  padding: 40px;
  gap: 40px;
  @media (min-width: $minMedium) {
    flex-direction: row;
  }
  margin: {
    top: 20px;
    bottom: 20px;
  }
  .logo img {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
  }
  ul {
    display: flex;
    gap: 20px;
    li {
      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        background-color: $navy-color;
        bottom: 0;
        transition: $main-transition;
      }
      &:hover::before {
        width: 100%;
      }
      a {
        transition: $main-transition;
        color: $grey-color;
        font : {
          weight: 500;
          size: 1rem;
        }
      }
      &:hover a {
        color: white;
      }
    }
  }
  @media (max-width: $maxMobile) {
    .main-ul {
      flex-direction: column;
      text-align: center;
    }
  }
  ul.social {
    a {
      color: white;
      font-size: 1.8rem;
      &:hover {
        color: $pink-color;
      }
    }
  }
}
